.st-emotion-cache-uf99v8{
    background-color: #F7FBE5;
    /*F5F5E5*/
}

[data-testid="stSidebar"] {
    background-color: #E7EFC5;
}

.logo-container {
    text-align: center;
}

.logo-container p {
    font-size: 18px;
    margin-top: 10px;
    color: #6E451C;
}

.toastContainer {
    background-color: #ffffff;
}

.st-emotion-cache-19rxjzo:active {
    color: rgb(255, 255, 255);
    border-color: #DD6136;
}
.st-emotion-cache-19rxjzo:hover {
    color: #DD6136;
    border-color: #DD6136;
}

.st-emotion-cache-1hynsf2 {
    color: #2B303A;
}